//The purpose of this additional .gitignore is to catch files/directories to ignore in the very root folder of the .git repo

# Visual Studio cache directory
.vs/
.agents/
.claude/
.gemini/

# 레퍼런스는 넣지 않음. 항상 Resource 리포에서 가져오기
Docs/